*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.dashboard-container{

  display:flex;

  height:100vh;

  background:#f5f7fb;

}

/* Sidebar */

.sidebar{

  width:250px;

  background:white;

  border-right:1px solid #e8e8e8;

}

.logo{

  padding:25px;

  color:#4f46e5;

  border-bottom:1px solid #eee;

}

.sidebar ul{

  list-style:none;

  padding:20px;

}

.sidebar li{

  padding:14px 16px;

  margin-bottom:10px;

  border-radius:10px;

  cursor:pointer;

  transition:.3s;

}

.sidebar li:hover{

  background:#eef2ff;

}

.active{

  background:#eef2ff;

  color:#4f46e5;

  font-weight:600;

}

/* Main */

.main{

  flex:1;

  display:flex;

  flex-direction:column;

}

/* Navbar */

.navbar{

  height:75px;

  background:white;

  border-bottom:1px solid #eee;

  display:flex;

  justify-content:space-between;

  align-items:center;

  padding:0 30px;

}

.page-title{

  font-size:22px;

  font-weight:600;

}

.navbar-right{

  display:flex;

  align-items:center;

  gap:25px;

}

.notification{

  font-size:22px;

  cursor:pointer;

}

.profile{

  position:relative;

  cursor:pointer;

  font-weight:600;

}

.profile-menu{

  position:absolute;

  right:0;

  top:45px;

  width:220px;

  background:white;

  border-radius:12px;

  box-shadow:0 10px 25px rgba(0,0,0,.15);

  overflow:hidden;

  z-index:100;

}

.profile-header{

  padding:18px;

}

.profile-header h4{

  margin-bottom:5px;

}

.profile-menu button{

  width:100%;

  padding:15px;

  background:none;

  border:none;

  text-align:left;

  cursor:pointer;

  font-size:15px;

}

.profile-menu button:hover{

  background:#f5f7fb;

}

.content{

  flex:1;

  padding:30px;

  overflow:auto;

}
